page-home {
    .pregnancy-wrapper{
        width: 90px;
        height: 90px;
        position: relative;
        background: white;
        border-radius: 100%;
        .pregnancy{
            display: block;
            position: absolute;
            top: 17%;
            margin: auto;
            left: 17%;
        }
    }
    .tips-wrapper{
        width: 90px;
        height: 90px;
        position: relative;
        background: #f8a9cb;
        border-radius: 100%;
    }
    .guide{
        display: block;
        position: absolute;
        top: 21%;
        margin: auto;
        left: 16%;
    }
    .baby-img{
        display: block;
        position: absolute;
        top: 17%;
        margin: auto;
        left: 18%;
    }
    .tips-img{
        display: block;
        position: absolute;
        top: 12%;
        margin: auto;
        left: 31%;
    }
    .text{
        color: white;
        font-size: 2rem;
    }
    .col1{
        margin-top: 1rem;
    }
    .col2,.col3{
        // margin-bottom: 4rem;
    }
    .sign-in{
        text-align: center;
        font-size: 2.6rem;
        color: #da1a77;
        margin-top: 1rem;  
    }
    .calender{
        position: relative;
        left:27%;
    }
    .settings{
        display: inline-block;
        position: relative;
        right: 28%;
    }
}
